<header style="background: #1c1c1c">
<div class="p-4 ">
  <nav class="navbar navbar-expand-lg navbar-dark" style="color: white" >
    <div class="container-fluid">


      <a href="#" class="navbar-brand">
        <img src="../../assets/LOGOPROYECTO.png" height="90" width="105"/>
        SGDP
     </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active">Inicio</a>
          <a href="#" class="nav-item nav-link">Proyectos</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Gestionar</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Proyectos</a>
              <a href="#" class="dropdown-item">Asignaturas</a>
              <a href="#" class="dropdown-item">Autores</a>
              <a href="#" class="dropdown-item">Programas académicos</a>
              <a href="#" class="dropdown-item">Facultades</a>
            </div>

          </div>

          <a href="" class="nav-item nav-link">Contáctanos</a>
        </div>



        <div class="navbar-nav ms-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
        </div>
      </div>
    </div>
  </nav>
</div>
</header>

