<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel">
        <div class="panel-heading" style="margin-top: -1%; margin-bottom: 5%; font-family: 'Times New Roman'; !important">
          <div class="panel-heading">
            <div class="row">
              <table class="table" style="width: 70%; margin-left: 20%; margin-top: 5%">
                <thead class="table-dark">
                <h4 class="title" style="">CREAR PROYECTO</h4>
                <div class="col col-sm-5 col-xs-12">
                </div>
                </thead>
              </table>
            </div>

          </div>
          <form #proyectoForm="ngForm">
          <div class="panel-body table-responsive">
            <div style=" width: 45%; flex: 1 1 150px; margin-top: 5%">
              <div style="width: 100%">
                <Input type = "text" id = "nombre"  name="nombre" placeholder="  Nombre" class="formulario__input" [(ngModel)]="proyecto.nombre" ngDefaultControl style="margin-top: 5%  !important;"/>

              </div>
              <div style="width: 100%">
                <Input type = "text" id = "repositorio" name="git" class="formulario__input" [(ngModel)]="proyecto.repositorio" ngDefaultControl style="margin-top: 12% !important;"/>
                <label class="formulario__label">Repositorio</label>
              </div>
              <div style="width: 100%">
                <Input type = "text" id = "archivo" class="formulario__input" style="margin-top: 12% !important;"/>
                <label class="formulario__label">Archivo</label>
              </div>
            </div>

            <div class="div2" style="margin-left: 15%; width: 45%;flex: 1 1 150px; margin-top: 5%">
              <div style="width: 100%">
                <Input type = "text" id = "tipo" class="formulario__input" name="tipo" [(ngModel)]="proyecto.tipo" ngDefaultControl style="margin-top: 5% !important;"/>
                <label  class="formulario__label">Tipo</label>
              </div>
              <div style="width: 100%">
                <Input type = "text" id = "programa" class="formulario__input" name="programa" [(ngModel)]="proyecto.programa" ngDefaultControl style="margin-top: 12%; !important;"/>
                <label class="formulario__label">Programa</label>
              </div>
              <div style="width: 100%">
                <Input type = "text" id = "autor" class="formulario__input" name="autor" [(ngModel)]="proyecto.autores" ngDefaultControl style="margin-top: 12%; !important;"/>
                <label class="formulario__label">Autor</label>
              </div>
            </div>

            <div style="margin:5% 30% 5% 38%; flex: 1 1 100px !important;">
              <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!proyecto.id else elseBlock" [disabled]="!proyectoForm.form.valid" >Crear</button>

              <ng-template #elseBlock>
                <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!proyectoForm.form.valid">Editar</button>
              </ng-template>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

