<div class="wrapper">
  <div class="overlay">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-9">
        <div class="contact-us text-center">
          <h3 class="mb-5">Contactanos</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="mt-5  px-3">
                <div class="d-flex flex-row align-items-center">
                  <span class="icons">

                    <img src="../../assets/icons8-location-30.png"/>
                    <i class="fa fa-map-marker"></i></span>
                  <div class="address text-left"> <span>Ubicacion</span>
                    <p>Carrera 27A,48 -144, Tuluá, Valle del Cauca</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mt-3">
                  <span class="icons">
                    <img src="../../assets/icons8-phone-30.png"/>
                    <i class="fa fa-phone"></i></span>
                  <div class="address text-left">
                    <span>Telefono</span>
                    <p>+57 321545646</p>
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mt-3">

                  <span class="icons">
                  <img src="../../assets/icons8-mail-30.png" height="30" width="30"/><i class="fa fa-envelope-o"></i></span>
                  <div class="address text-left">
                    <span>Email</span> <p>info@uceva.com</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-center px-1">
                <div class="forms p-4 py-5 bg-white">
                  <h5>Enviar Mensaje</h5>
                  <div class="mt-4 inputs">
                    <input type="text" class="form-control" placeholder="Nombre">
                    <input type="text" class="form-control" placeholder="Email">
                    <textarea class="form-control" placeholder="Mensaje"></textarea>
                  </div>
                  <div class="button mt-4 text-left">
                    <button class="btn btn-dark">Enviar</button>
                  </div>

                </div>

              </div>


            </div>

          </div>

        </div>

      </div>
        </div>

  </div>

</div>

<div>

</div>
